# Yucatan Pennisula Hurricanes
### Week 4 - Discussion Section

# 1. Archive exploration

**Description:** This data set explores teh ecological impacts of hurricanes across the Yucatan Pennisula since 1851 to 2000, using computer modeling.

**Date of Access:** 10/24/25

**Link:** https://portal.edirepository.org/nis/mapbrowse?packageid=knb-lter-hfr.71.23

**Citation:**

Boose, E. and D. Foster. 2023. Ecological Impacts of Hurricanes Across the Yucatan Peninsula 1851-2000 ver 23. Environmental Data Initiative. https://doi.org/10.6073/pasta/f219113373913f2daf421732e28d3c38 (Accessed 2025-10-24).

# 2. Data loading and preliminary exploration

In [3]:
import pandas as pd

In [4]:
# Saving dataset url for import.
url ='https://pasta.lternet.edu/package/data/eml/knb-lter-hfr/71/23/ab0fe2bf4f3ad850371ccb9c69d78469'

hurricane = pd.read_csv(url)

In [5]:
# View the first 5 rows of the hurricane dataset
hurricane.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

#### Obtain preliminary information and explore this data frame using pandas methods.

In [ ]:
# Preliminary data exploration
print(hurricane.isna().sum())
print(hurricane.shape)
print(hurricane.dtypes)

code           0
start.date     0
end.date       0
number         0
name          72
ss             0
track          0
rf.max         0
dtype: int64
(105, 8)
code          object
start.date    object
end.date      object
number         int64
name          object
ss             int64
track         object
rf.max        object
dtype: object

# 3. Brainstorm
In this session we want to answer the following question:

#### How many hurricanes with Saffir-Simpson category 5 have been registered and what was their duration?

##### a. Individually, write down step-by-step instructions on how you would wrangle the df data frame to answer the question. Do not code anything yet. Remember: It’s okay if you don’t know how to code each step. The important thing is to have an idea of what you’d like to do.